addict==2.4.0
albumentations==1.2.0
blessed==1.22.0
mmcv=2.20
numpy==1.23.5
nvidia-ml-py==13.580.82
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
scipy==1.13.1
six==1.17.0
tensorboardX==2.6.4
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2024.8.30
timm==1.0.20
tokenizers==0.13.3
tomli==2.2.1
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1

